<wicket:panel>
    <div class="border-top">
        <div class="border-bottom">
            <div class="border-left">
                <div class="border-right">
                    <div class="border-top-left">
                        <div class="border-top-right">
                            <div class="border-bottom-left">
                                <div class="border-bottom-right">
                                    <h2 class="border-title" wicket:id="title"></h2>

                                    <div class="border-content">
                                        <wicket:child/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</wicket:panel>