<settings xmlns="http://maven.apache.org/POM/4.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/POM/4.0.0
                      http://maven.apache.org/xsd/settings-1.0.0.xsd">
    <!-- -Dorg.apache.maven.user-settings=settings.xml -Dmaven.repo.local=c:/m2repo-->
    <!-- -Dorg.apache.maven.user-settings=C:\java\maven2\artifactory\core\src\it\settings.xml -->
    <!--
        <mirrors>
            <mirror>
                <id>artifactory-central</id>
                <url>http://localhost:8080/artifactory/repo</url>
                <mirrorOf>central</mirrorOf>
            </mirror>
            <mirror>
                <id>artifactory-snapshots</id>
                <url>http://localhost:8080/artifactory/repo</url>
                <mirrorOf>snapshots</mirrorOf>
            </mirror>
        </mirrors>
    -->

    <servers>
        <!-- Should not read as admin, only deploy should need user/password -->
        <!--
        <server>
            <id>central</id>
            <username>test</username>
            <password>test</password>
        </server>
        <server>
            <id>snapshots</id>
            <username>test</username>
            <password>test</password>
        </server>
        -->
        <server>
            <id>libs-releases</id>
            <username>admin</username>
            <password>password</password>
        </server>
        <server>
            <id>libs-snapshots</id>
            <username>admin</username>
            <password>password</password>
        </server>
    </servers>
    <!--
        <profiles>
            <profile>
                <id>artifactory</id>
                <activation>
                    <activeByDefault>false</activeByDefault>
                    <property>
                        <name>artifactory</name>
                    </property>
                </activation>
                <repositories>
                    <repository>
                        <id>central</id>
                        <url>http://localhost:8080/artifactory/libs-releases</url>
                        <snapshots>
                            <enabled>false</enabled>
                        </snapshots>
                    </repository>
                    <repository>
                        <id>snapshots</id>
                        <url>http://localhost:8080/artifactory/libs-snapshots</url>
                        <releases>
                            <enabled>false</enabled>
                        </releases>
                    </repository>
                </repositories>
                <pluginRepositories>
                    <pluginRepository>
                        <id>central</id>
                        <url>http://localhost:8080/artifactory/plugins-releases</url>
                        <snapshots>
                            <enabled>false</enabled>
                        </snapshots>
                    </pluginRepository>
                    <pluginRepository>
                        <id>snapshots</id>
                        <url>http://localhost:8080/artifactory/plugins-snapshots</url>
                        <releases>
                            <enabled>false</enabled>
                        </releases>
                    </pluginRepository>
                </pluginRepositories>
            </profile>
        </profiles>
    -->

</settings>
