<nav id="jf-header">

    <div class="container-fluid">

        <div class="navbar-header">
            <a class="navbar-brand" ui-sref="home">
                <img class="logo-picture" ng-src="{{jfHeader.logoUrl}}" alt="Artifactory"/>
            </a>
        </div>

        <div class="navbar-right">

            <!-- help title removed for Beta >
            <!--<div class="navbar-text pull-right welcome-header header-separator">
                <span class="help-header-text">Help</span>
            </div>-->

            <div class="navbar-text pull-right welcome-header header-separator">
                <span ng-if="!jfHeader.currentUser.isGuest()" class="welcome-header-text">Welcome,
                    <a href ui-sref="user_profile" class="navbar-link username-header">{{jfHeader.currentUser.name}}</a>

                    <a href=""
                       class="navbar-link"
                       ng-click="jfHeader.logout()">
                        <span class="log-out">( Log Out )</span></a>
                </span>
                <span ng-if="jfHeader.currentUser.isGuest()" class="welcome-header-text">
                    <a href ui-sref="login">Log In</a>
                </span>
            </div>

            <jf-header-search ng-if="!jfHeader.hideSearch"></jf-header-search>
            <span class="pull-left navbar-separator"></span>

        </div>

    </div>
</nav>