<div class="content-layout-container">
    <h1>OAuth SSO Configuration</h1>

    <div class="content-wrapper">
        <form class="form" name="AdminSecurityOAuth.oauthForm" ng-submit="AdminSecurityOAuth.save()" novalidate>
            <div class="card stretch card-pole-pad card-side-pad">
                <div class="content-with-footer">
                    <jf-panel jf-panel-heading="General OAuth Settings">
                        <div class="form-group form-checkbox">
                            <div class="form-group-cell">
                                <jf-checkbox text="Enable OAuth">
                                    <input type="checkbox"
                                           id="enabled"
                                           ng-model="AdminSecurityOAuth.oauthData.enabled">
                                </jf-checkbox>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-group-cell">
                                <jf-checkbox text="Auto Create Artifactory Users">
                                    <input type="checkbox"
                                           id="persistUsers"
                                           ng-model="AdminSecurityOAuth.oauthData.persistUsers">
                                </jf-checkbox>
                            </div>
                        </div>
                        <div class="form-group-cell">
                            <jf-field>
                                <label>Default GitHub Provider</label>
                                <selectize config='AdminSecurityOAuth.selectizeConfig'
                                           options='AdminSecurityOAuth.selectizeOptions'
                                           ng-model='AdminSecurityOAuth.oauthData.defaultNpm'>
                                </selectize>
                            </jf-field>
                        </div>
                        <div>
                            <div class="pull-right">
                                <button class="btn btn-default" type="button" ng-click="AdminSecurityOAuth.cancel()">
                                    Reset
                                </button>
                                <button class="btn btn-primary" ng-disabled="!AdminSecurityOAuth.canSave()">Save</button>
                            </div>
                        </div>
                    </jf-panel>
                    <jf-panel jf-panel-heading="Providers">
                        <div class="pull-right admin-grid-buttons">
                            <a ui-sref="^.oauth.new">
                                <i class="grid-button-icon icon icon-new"></i>New
                            </a>
                        </div>
                        <div class="clearfix"></div>
                        <jf-grid
                                grid-options="AdminSecurityOAuth.providersGridOptions"
                                filter-field="name"
                                object-name="provider">
                        </jf-grid>
                    </jf-panel>
                </div>
            </div>
        </form>
    </div>
</div>