<?xml version="1.0" encoding="UTF-8"?>

<html xmlns="http://www.w3.org/1999/xhtml">
<wicket:panel>

    <div wicket:id="infoBorder">
        <div wicket:id="name"/>
        <div wicket:id="size"/>
        <div wicket:id="deployed-by"/>
        <div wicket:id="age"/>
        <div wicket:id="groupId"/>
        <div wicket:id="artifactId"/>
        <div wicket:id="version"/>
    </div>


    <div wicket:id="actionBorder">
        <div class="actions">
            <ul>
                <li wicket:id="action">
                    <a wicket:id="link" class="icon-link">
                        <span wicket:id="name"/>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div wicket:id="ditributionManagament"/>

    <div wicket:id="virtualRepoList"/>

    <div wicket:id="checksums"/>
</wicket:panel>
</html>
