<wicket:border>
    <div wicket:id="border">
        <div wicket:id="border">
            <div wicket:id="border">
                <div wicket:id="border">
                    <div wicket:id="border">
                        <div wicket:id="border">
                            <div wicket:id="border">
                                <div wicket:id="border">
                                    <h2 class="border-title" wicket:id="title"></h2>

                                    <div class="border-content">
                                        <wicket:body/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</wicket:border>