<div class="deploy" nv-file-drop uploader="jfDeploy.uploader">
    <div class="form-group">
        <div class="form-group-cell target-path">
            <label>Target Repository</label>
            <jf-ui-select jf-select-model="jfDeploy.deployFile.repoDeploy"
                          jf-select-options="jfDeploy.reposList"
                          jf-select-display-attr="repoKey"></jf-ui-select>
        </div>
    </div>
    <div class="form-group">
        <div class="form-group-cell">
            <label>Package Type: {{jfDeploy.deployFile.repoDeploy.repoType}}</label>
        </div>
    </div>
    <div class="form-group">
        <div class="form-group-cell">
            <label>Type:</label>
            <a class="deploy-mode"
               href=""
               ng-click="jfDeploy.setDeploy('single')"
               ng-class="{active:jfDeploy.isSelectedDeploy('single')}">Single</a>

            <a class="deploy-mode"
               href=""
               ng-click="jfDeploy.setDeploy('multi')"
               ng-class="{active:jfDeploy.isSelectedDeploy('multi')}">Multi</a>
        </div>
    </div>

    <div class="form-group">
        <div class="form-group-cell">
            <div ng-if="jfDeploy.isSelectedDeploy('single')">
                <div class="drop-zone-wrapper">
                    <div class="drop-zone"
                         nv-file-drop uploader="jfDeploy.uploader"
                         nv-file-over over-class="drop-zone-hover"
                         ng-if="!jfDeploy.uploader.queue.length">
                        <span class="icon icon-upload"></span>
                        <span class="icon icon-upload-hover"></span>
                        <br>
                        <input class="select-files-hidden"
                               ng-if="jfDeploy.isSelectedDeploy('single')"
                               type="file"
                               nv-file-select
                               title=" "
                               uploader="jfDeploy.uploader"/>
                        <span>Drop file</span> here or <span>Select file</span>
                    </div>
                    <div ng-repeat="item in jfDeploy.uploader.queue">
                        <div ng-show="jfDeploy.uploader.isHTML5" class="progress-deploy file-info">
                            <div>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar"
                                         ng-style="{ 'width': item.progress + '%' }">
                                    </div>
                                </div>
                                <a href=""
                                   ng-click="item.remove();jfDeploy.deployFile.unitInfo={}; jfDeploy.clearPath(); jfDeploy.uploadCompleted = false"
                                   jf-tooltip="Remove"
                                   class="icon icon-clear"></a>
                            </div>
                            <div class="file-name-deploy">
                                <span ng-if="!jfDeploy.uploadCompleted"> Uploading {{ item.file.name }}</span>
                                <span ng-if="jfDeploy.uploadCompleted"> Upload Completed </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-if="jfDeploy.isSelectedDeploy('multi')">
                <div class="drop-zone-wrapper">
                    <div class="drop-zone"
                         nv-file-drop uploader="jfDeploy.uploader"
                         nv-file-over over-class="drop-zone-hover">

                        <span class="icon icon-upload"></span>
                        <span class="icon icon-upload-hover"></span>
                        <br>
                        <input class="select-files-hidden"
                               ng-if="jfDeploy.isSelectedDeploy('multi')"
                               type="file"
                               nv-file-select
                               uploader="jfDeploy.uploader"
                               title=" "
                               multiple/>
                        <span>Drop files</span> here or <span>Select files</span>
                    </div>
                    <div class="upload-files-frame">
                        <ul>
                            <li ng-repeat="item in jfDeploy.uploader.queue" class="upload-item">
                                <span class="file-name-deploy-multi" jf-tooltip="{{ item.file.originalName }}">{{ item.file.originalName }}</span>
                                <a href=""
                                   ng-click="item.remove(); jfDeploy.multiUploadItemRemoved();"
                                   jf-tooltip="Remove"
                                   class="icon icon-clear pull-right"></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <form name="targetPath">
        <div class="form-group">
            <div class="form-group-cell">
                <jf-field>
                    <label for="target-file">Target Path
                    </label>
                    <jf-help-tooltip
                            html="jfDeploy.TOOLTIP.targetPath"></jf-help-tooltip>
                    <input type="text"
                           class="input-text"
                           id="target-file"
                           ng-model="jfDeploy.deployFile.targetPath"
                           ng-disabled="jfDeploy.deployFile.unitInfo.artifactType=='maven'">
                </jf-field>
            </div>
        </div>
    </form>

    <div class="form-group"
         ng-if="jfDeploy.isSelectedDeploy('single')">
        <div class="form-group-cell">
            <jf-checkbox text="Deploy as Maven Artifact"
                         ng-if="(jfDeploy.deployFile.unitInfo.maven || jfDeploy.deployFile.unitInfo.artifactType=='maven')">
                <input type="checkbox"
                       id="maven"
                       ng-model="jfDeploy.deployFile.unitInfo.mavenArtifact"
                       ng-change="jfDeploy.changeMavenFileType()">
            </jf-checkbox>
            <jf-help-tooltip
                    html="jfDeploy.TOOLTIP.deployAsMaven"
                    ng-if="(jfDeploy.deployFile.unitInfo.maven || jfDeploy.deployFile.unitInfo.artifactType=='maven')"></jf-help-tooltip>
            <jf-checkbox text="Deploy as Debian Artifact"
                         ng-if="(jfDeploy.deployFile.unitInfo.debian || jfDeploy.deployFile.unitInfo.artifactType=='debian')">
                <input type="checkbox"
                       id="debian"
                       ng-model="jfDeploy.deployFile.unitInfo.debianArtifact"
                       ng-change="jfDeploy.changeDebianFileType()">
            </jf-checkbox>
            <jf-help-tooltip
                    html="jfDeploy.TOOLTIP.deployAsDebian"
                    ng-if="(jfDeploy.deployFile.unitInfo.debian || jfDeploy.deployFile.unitInfo.artifactType=='debian')"></jf-help-tooltip>
        </div>
    </div>

    <jf-panel jf-panel-heading="Maven Artifact"
              ng-if="jfDeploy.deployFile.unitInfo.mavenArtifact">
        <form name="mavenArifactForm">
            <div class="form-group">
                <div class="form-group-cell">
                    <jf-field>
                        <label for="GroupId"
                               class="control-label deploy-label">Group ID
                        </label>
                        <input type="text"
                               class="input-text"
                               id="GroupId"
                               ng-model="jfDeploy.deployFile.unitInfo.groupId"
                               ng-change="jfDeploy.updateMavenTargetPath()">
                    </jf-field>
                </div>
                <div class="form-group-cell">
                    <jf-field>
                        <label for="ArtifactId"
                               class="control-label deploy-label">Artifact ID
                        </label>
                        <input type="text"
                               class="input-text"
                               id="ArtifactId"
                               ng-model="jfDeploy.deployFile.unitInfo.artifactId"
                               ng-change="jfDeploy.updateMavenTargetPath()">
                    </jf-field>
                </div>
            </div>
            <div class="form-group">
                <div class="form-group-cell">
                    <jf-field>
                        <label for="Version"
                               class="deploy-label">Version
                        </label>
                        <input type="text"
                               class="input-text"
                               id="Version"
                               ng-model="jfDeploy.deployFile.unitInfo.version"
                               ng-change="jfDeploy.updateMavenTargetPath()">
                    </jf-field>
                </div>
                <div class="form-group-cell">
                    <jf-field>
                        <label for="Classifier"
                               class="control-label deploy-label">Classifier
                        </label>
                        <input type="text"
                               class="input-text"
                               id="Classifier"
                               ng-model="jfDeploy.deployFile.unitInfo.classifier"
                               ng-change="jfDeploy.updateMavenTargetPath()">
                    </jf-field>
                </div>
            </div>
            <div class="form-group">
                <div class="form-group-cell">
                    <jf-field>
                        <label for="Type"
                               class="control-label deploy-label">Type
                        </label>
                        <input type="text"
                               class="input-text"
                               id="Type"
                               ng-model="jfDeploy.deployFile.unitInfo.type"
                               ng-change="jfDeploy.updateMavenTargetPath()">
                    </jf-field>
                </div>
            </div>
            <div class="form-group">
                <div class="form-group-cell">
                    <jf-checkbox text="Deploy Jar's Internal POM/Generate Default POM">

                        <input type="checkbox"
                               id="Internal"
                               class="input-text"
                               ng-model="jfDeploy.deployFile.unitInfo.Internal">
                    </jf-checkbox>
                </div>
            </div>
            <div class="form-group" ng-if="jfDeploy.deployFile.unitInfo.Internal">
                <jf-code-mirror mime-type="xml"
                                model="jfDeploy.deployFile.unitConfigFileContent"
                                height="200px"
                                allowEdit="false">
                </jf-code-mirror>
            </div>
        </form>
    </jf-panel>

    <jf-panel jf-panel-heading="Debian Artifact"
              ng-if="jfDeploy.deployFile.unitInfo.debianArtifact">
        <form name="mavenArifactForm">
            <div class="form-group">
                <div class="form-group-cell">
                    <jf-field validations="common"
                              autofocus="true">
                        <label for="distribution"
                               class="control-label deploy-label mandatory">Distribution
                        </label>
                        <input name="debDistribution"
                               type="text"
                               class="input-text"
                               id="distribution"
                               required
                               ng-model="jfDeploy.deployFile.unitInfo.distribution"
                               ng-change="jfDeploy.updateDebianTargetPath()">
                    </jf-field>
                </div>
                <div class="form-group-cell">
                    <jf-field validations="common">
                        <label for="component"
                               class="control-label deploy-label mandatory">Component
                        </label>
                        <input name="debComponent"
                               type="text"
                               class="input-text"
                               id="component"
                               required
                               ng-model="jfDeploy.deployFile.unitInfo.component"
                               ng-change="jfDeploy.updateDebianTargetPath()">
                    </jf-field>
                </div>
            </div>
            <div class="form-group">
                <div class="form-group-cell">
                    <jf-field validations="common">
                        <label for="architecture"
                               class="deploy-label mandatory">Architecture
                        </label>
                        <input name="debArchitecture"
                               type="text"
                               class="input-text"
                               id="architecture"
                               required
                               ng-model="jfDeploy.deployFile.unitInfo.architecture"
                               ng-change="jfDeploy.updateDebianTargetPath()">
                    </jf-field>
                </div>
            </div>
        </form>
    </jf-panel>
</div>
