<div class="search-wrapper package-search">
    <form novalidate>
        <div class="form-group">
            <div class="form-group-cell">
                <ui-select ng-model="jfPackage.selectedPackageType" ng-change="jfPackage.onPackageTypeChange()">
                    <ui-select-match placeholder="Select Package Type...">
                        <i ng-if="$select.selected.icon" class="select-repo-icon icon icon-{{$select.selected.icon}}"></i>{{$select.selected.displayName}}
                    </ui-select-match>
                    <ui-select-choices repeat="property in jfPackage.availablePackageTypes | filter: $select.search track by $index">
                        <i ng-if="property.icon" class="select-repo-icon icon icon-{{property.icon}}"></i>
                        <span ng-bind-html="property.displayName | highlight: $select.search"></span>
                    </ui-select-choices>
                </ui-select>
            </div>
            <div class="form-group-cell"
                 ng-if="jfPackage.selectedPackageType.id.startsWith('docker')">
                <ul class="radio-select-list margin-top-10">
                    <li>
                        <input type="radio" id="v1" value="dockerV1" ng-change="jfPackage.onPackageTypeChange()"
                               name="docker-version" ng-model="jfPackage.selectedPackageType.id"/>
                        <label for="v1" class="input-label-weight">V1</label>
                    </li>
                    <li>
                        <input type="radio" id="v2" value="dockerV2" ng-change="jfPackage.onPackageTypeChange()"
                               name="docker-version" ng-model="jfPackage.selectedPackageType.id"/>
                        <label for="v2" class="input-label-weight">V2</label>
                    </li>
                </ul>
            </div>
        </div>

        <div ng-if="jfPackage.queryFields.length">
            <div class="form-group">
                <div class="form-group-cell"
                     ng-repeat="field in jfPackage.queryFields"
                     ng-if="field.id !== 'repo'">
                    <jf-field>
                        <input type="text"
                               class="input-text"
                               id="field.id"
                               name="field.id"
                               ng-model="jfPackage.rawQuery[field.id].values"
                               placeholder="{{field.displayName}}">
                    </jf-field>
                </div>
                <div class="form-group-cell package-search-buttons"
                     ng-if="jfPackage.selectedPackageType">
                    <div class="pull-right">
                        <button type="button" class="btn btn-default"
                                ng-click="jfPackage.clear()">Clear
                        </button>
                        <button type="submit"
                                class="btn btn-primary"
                                ng-disabled="!jfPackage.canSearch()"
                                ng-click="jfPackage.search()">Search
                        </button><!--ng-disabled="!jfPackage.query.name && !jfPackage.query.path"-->
                    </div>
                </div>
                <div class="field-bottom-remark"><i class="icon icon-info"></i>Search is case sensitive, supports (*,?) and comma separated multiple values</div>
            </div>
        </div>

    </form>
</div>
