<div class="modal-header deploy">
    <button type="button"
            class="close"
            data-dismiss="close"
            aria-label="Close"
            ng-click="close()"><span
            aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">{{title}}</h4>
</div>
<div class="modal-body clearfix">
    <jf-deploy node="node"
               deploy=""
               comm="comm"></jf-deploy>
</div>
<div class=" clearfix modal-footer">
    <div class="btn-group">
        <button class="btn btn-primary"
                ng-disabled="!deployController.isReady()"
                ng-click="deploy();">Deploy
        </button>
    </div>
</div>