<wicket:panel>
    <div wicket:id="tabs-container" class="tab-row">
        <ul>
            <li wicket:id="tabs">
                <a href="#" wicket:id="link"><span wicket:id="title">[[tab title]]</span></a>
            </li>
        </ul>
    </div>

    <div class="tab-panel-top">
        <div class="tab-panel-bottom">
            <div class="tab-panel-left">
                <div class="tab-panel-right">
                    <div class="tab-panel-top-left">
                        <div class="tab-panel-top-right">
                            <div class="tab-panel-bottom-left">
                                <div class="tab-panel-bottom-right">
                                    <div wicket:id="panel" class="tab-panel"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</wicket:panel>