html, body {
    margin: 0;
    padding: 5px;
    height: 100%;
    font-family: Verdana, Arial, sans-serif;
}

div.side {
    /*height: 100%;*/
    width: 170px;
    float: left;
    padding: 5px;
    padding-left: 15px;
    padding-top: 15px;
    background-color: #d0e3f5;
}

div.main-wrapper {
    height: 100%;
}

div.main {
    /*height: 100%;*/
    background-color: white;
    border: 1px solid lightgray;
    padding-top: 5px;
    padding-left: 15px;
    padding-bottom: 10px;
    padding-right: 15px;
    margin-left: 10px;
    overflow-x: auto;
    overflow-y: hidden;
}

.contentLink {
    font-family: Verdana, Arial, sans-serif;
    font-size: 0.8em;
    font-weight: normal;
    color: #5a5a5a;
    background-color: #d0e3f5;
    line-height: 1.5em;
}

.contentLink:active, .contentLink:hover {
    color: lightslategray;
}
