<div class="center-login">
    <form name="ChangePassword.changePasswordForm" class="jumbotron login-form" ng-submit="ChangePassword.change()" novalidate id="login-form">
        <div class="login-inner">
            <h3>Change Password</h3>
            <div class="form-group">
                <div class="form-group-cell">
                    <jf-field validations="users" autofocus="true">
                        <input type="password"
                               name="oldPassword"
                               ng-model="ChangePassword.fields.oldPassword"
                               class="input-text"
                               placeholder="Old Password*"
                               id="oldPassword"
                               required>
                    </jf-field>
                </div>
            </div>
            <div class="form-group">
                <div class="form-group-cell">
                    <jf-field validations="users">
                        <input type="password"
                               name="newPassword"
                               ng-model="ChangePassword.fields.newPassword"
                               class="input-text"
                               placeholder="New Password*"
                               id="newPassword"
                               required>
                    </jf-field>
                </div>
            </div>
            <div class="form-group">
                <div class="form-group-cell">
                    <jf-field validations="users">
                        <input type="password"
                               name="retypeNewPassword"
                               ng-model="ChangePassword.fields.retypeNewPassword"
                               class="input-text"
                               placeholder="Retype New Password*"
                               id="password"
                               required>
                    </jf-field>
                    <div class="jf-form-errors preserve-lb" ng-if="ChangePassword.fields.newPassword && ChangePassword.fields.retypeNewPassword && ChangePassword.fields.retypeNewPassword !== ChangePassword.fields.newPassword">Passwords do not match</div>
                </div>
            </div>

        </div>

        <div class="login-button-bar">
            <button type="submit" class="btn btn-primary pull-right" ng-disabled="!ChangePassword.changePasswordForm.$valid || !ChangePassword.passwordsMatch()" id="login">
                Change Password
            </button>
        </div>
    </form>
</div>
