<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%date [%-5level] \(%logger{32}:%line\) %message%n</pattern>
        </layout>
    </appender>
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${artifactory.home}/logs/artifactory.log</File>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%date [%-5level] \(%logger{32}:%line\) %message%n</pattern>
        </layout>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <FileNamePattern>${artifactory.home}/logs/artifactory.%i.log.zip</FileNamePattern>
            <maxIndex>20</maxIndex>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <MaxFileSize>5MB</MaxFileSize>
        </triggeringPolicy>
    </appender>
    <appender name="ACCESS" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${artifactory.home}/logs/access.log</File>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%date [%-5level] \(%logger{32}:%line\) %message%n</pattern>
        </layout>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <FileNamePattern>${artifactory.home}/logs/access.%i.log.zip</FileNamePattern>
            <maxIndex>20</maxIndex>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <MaxFileSize>5MB</MaxFileSize>
        </triggeringPolicy>
    </appender>
    <appender name="IMPORT.EXPORT" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${artifactory.home}/logs/import.export.log</File>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%date [%-5level] \(%logger{32}:%line\) %message%n</pattern>
        </layout>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <FileNamePattern>${artifactory.home}/logs/import.export.%i.log.zip</FileNamePattern>
            <maxIndex>20</maxIndex>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <MaxFileSize>10MB</MaxFileSize>
        </triggeringPolicy>
    </appender>
    <root>
        <level value="INFO"/>
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
    </root>
    <logger name="org.artifactory.repo.index">
        <level value="WARN"/>
    </logger>
    <logger name="org.apache.wicket">
        <level value="WARN"/>
    </logger>
    <logger name="org.apache.wicket.markup.repeater.AbstractRepeater">
        <level value="ERROR"/>
    </logger>
    <logger name="org.springframework">
        <level value="WARN"/>
    </logger>
    <logger name="org.quartz">
        <level value="WARN"/>
    </logger>
    <logger name="org.apache.jasper">
        <level value="INFO"/>
    </logger>
    <logger name="httpclient.wire">
        <level value="INFO"/>
    </logger>
    <logger name="org.apache.jackrabbit">
        <level value="WARN"/>
    </logger>
    <logger name="org.mortbay">
        <level value="WARN"/>
    </logger>
    <logger name="org.artifactory">
        <level value="INFO"/>
    </logger>
    <logger name="org.artifactory.webapp.main.StartWebContainer">
        <level value="INFO"/>
    </logger>
    <logger name="org.artifactory.security.AccessLogger" additivity="false">
        <level value="DEBUG"/>
        <appender-ref ref="ACCESS"/>
    </logger>
    <logger name="org.apache.jackrabbit.extractor.XMLTextExtractor">
        <level value="ERROR"/>
    </logger>
    <logger name="org.artifactory.info.InfoWriter">
        <level value="DEBUG"/>
    </logger>
    <logger name="org.artifactory.api.common.StatusHolder" additivity="false">
        <level value="DEBUG"/>
        <appender-ref ref="IMPORT.EXPORT"/>
    </logger>
</configuration>
