<div class="content-layout-container">
    <h1>System Info <a clip-copy="SystemInfoController.systemInfoJoined"
                       jf-tooltip="Copy to Clipboard"
                       class="copy-to-clip icon icon-copy-to-clipboard"></a>
    </h1>


    <div class="content-wrapper">
        <div class="card stretch card-pole-pad card-side-pad">
            <table class="jf-data-table">
                <tbody ng-repeat="(key, value) in SystemInfoController.systemInfo">
                    <tr><td colspan="3"><h5>{{key}}:</h5></td></tr>
                    <tr ng-repeat="(_key, _value) in value">
                        <td></td>
                        <td>{{_key}}:</td>
                        <td ng-bind-html="SystemInfoController.replaceNewLines(_value)"></td>
                    </tr>
                    <tr><td colspan="3">&nbsp;</td></tr>
                </tbody>
            </table>
        </div>
    </div>
</div>