<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Concurrent Suite" thread-count="5" verbose="1" parallel="false">
    <test name="simpleJarDownload" parallel="methods">
        <classes>
            <class name="org.artifactory.test.internal.SimpleArtifactoryTest"/>
        </classes>
    </test>
    <test name="cacheDownload" parallel="methods">
        <classes>
            <class name="org.artifactory.test.internal.LocalHostRemoteRepoTest"/>
        </classes>
    </test>
    <test name="wcCommitter">
        <classes>
            <class name="org.artifactory.test.internal.WcCommiterTest"/>
        </classes>
    </test>
    <test name="importExport">
        <classes>
            <class name="org.artifactory.test.internal.ImportExportTest"/>
        </classes>
    </test>
    <test name="jcrService">
        <classes>
            <class name="org.artifactory.test.internal.JcrServiceITest"/>
        </classes>
    </test>
    <test name="initOrderAndIndexer">
        <classes>
            <class name="org.artifactory.test.internal.TestInitOrderAndIndexer"/>
        </classes>
    </test>
</suite>