<?xml version="1.0" encoding="UTF-8"?>
<!--
    Minimal settings required to startup jetty with.
    Other appenders and categories are reconfigured later using the logback configurer.
-->
<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%date [%-5level] \(%-20c{3}\) %message%n</pattern>
        </layout>
    </appender>

    <logger name="/artifactory">
        <level value="INFO"/>
        <appender-ref ref="CONSOLE"/>
    </logger>
    <logger name="org.mortbay">
        <level value="WARN"/>
        <appender-ref ref="CONSOLE"/>
    </logger>
</configuration>