<?xml version="1.0" encoding="UTF-8" ?>
<wicket:head>
    <script type="text/javascript">
        var ContextMenu = {
            show: function(nodeId) {
                var e;
                var menu = dijit.byId('contextMenu');
                if (dojo.isIE) {
                    e = {target: window.lastTarget};
                } else {
                    e = window.lastEvent;
                    menu._contextMenuWithMouse = true;
                }
                menu._openMyself(e);
            },

            init: function() {
                var prevMenu = dijit.byId('contextMenu');
                if (prevMenu) {
                    prevMenu.destroy();
                }
                dojo.parser.parse(dojo.byId('contextMenu').parentNode);
            }
        };

    </script>
</wicket:head>

<wicket:panel>
    <div wicket:id="menu" dojoType="dijit.Menu" targetNodeIds="contextMenu" style="display: none;">
        <div wicket:id="menuItem" dojoType="dijit.MenuItem">
            <img wicket:id="icon"/>
            <span wicket:id="label" class="content"/>
        </div>
    </div>

    <script type="text/javascript">
        ContextMenu.init();
    </script>
</wicket:panel>