<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:tool="http://www.springframework.org/schema/tool"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="
            http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
            http://www.springframework.org/schema/util
            http://www.springframework.org/schema/util/spring-util-2.5.xsd
            http://www.springframework.org/schema/tool
            http://www.springframework.org/schema/tool/spring-tool-2.5.xsd
            http://www.springframework.org/schema/context
            http://www.springframework.org/schema/context/spring-context-2.5.xsd
            http://www.springframework.org/schema/tx
            http://www.springframework.org/schema/tx/spring-tx-2.5.xsd ">

    <!-- Causes system propeties to be used -->
    <bean id="propertyPlaceholderConfigurer"
          class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="location" ref="resourceLocation"/>
        <!-- Default is SYSTEM_PROPERTIES_MODE_FALLBACK -->
        <property name="systemPropertiesModeName" value="SYSTEM_PROPERTIES_MODE_OVERRIDE"/>
        <!-- Do not search (non-java) env vars -->
        <property name="searchSystemEnvironment" value="false"/>
        <!-- Don't try to resolve placeholders that are themseleves placeholders (scm.revision) -->
        <property name="ignoreUnresolvablePlaceholders" value="true"/>
    </bean>

    <bean id="resourceLocation" class="org.springframework.core.io.ClassPathResource">
        <constructor-arg value="META-INF/artifactory.properties"/>
    </bean>

    <!-- Enable configuration by annotations -->
    <context:annotation-config/>
    <context:component-scan base-package="org.artifactory"/>

    <!-- enable the configuration of transactional behavior based on annotations -->
    <tx:annotation-driven proxy-target-class="true"/>

    <bean id="keyVal" class="org.artifactory.keyval.KeyVals">
        <property name="version" value="${artifactory.version}"/>
        <property name="revision" value="${artifactory.revision}"/>
    </bean>

    <import resource="jcr.xml"/>
    <import resource="scheduling.xml"/>
    <import resource="security.xml"/>
</beans>