<div class="center-login">
    <form name="Login.loginForm" class="jumbotron login-form" ng-submit="Login.login()" novalidate id="login-form">
        <a ng-if="Login.canExit" class="pull-right close-button" ui-sref="home">&#10005;</a>
        <div class="login-inner">
            <h3>Welcome to JFrog Artifactory!</h3>
            <div class="form-group">
                <div class="form-group-cell">
                    <jf-field validations="users" autofocus="true">
                        <input name="user"
                               type="text"
                               ng-model="Login.user.user"
                               class="input-text"
                               placeholder="Username*"
                               ng-change="Login.userPasswordChanged()"
                               required
                               id="user">
                    </jf-field>
                </div>
            </div>
            <div class="form-group" ng-class="{'no-margin-bottom': Login.errorMessage}">
                <div class="form-group-cell">
                    <jf-field validations="users">
                        <input type="password"
                               name="password"
                               ng-model="Login.user.password"
                               class="input-text"
                               placeholder="Password*"
                               ng-change="Login.userPasswordChanged()"
                               id="password"
                               required>
                    </jf-field>
                </div>
            </div>

            <div class="jf-form-errors preserve-lb" ng-if="Login.errorMessage" ng-bind="Login.errorMessage"></div>

            <div class="form-group form-checkbox" ng-if="Login.canRememberMe">
                <div class="form-group-cell">
                    <a href ng-click="Login.gotoForgotPwd()" jf-clear-errors class="pull-right" ng-if="Login.canResetPassword" id="forgot-password">Forgot Password?</a>

                    <jf-checkbox text="Remember me">
                        <input type="checkbox" id="remember-me" ng-model="Login.rememberMe">
                    </jf-checkbox>
                </div>
            </div>
            <div class="form-group oauth-login" ng-if="Login.isOAuthEnabled() || Login.ssoProviderLink">
                <div class="form-group-cell" ng-if="Login.isOAuthEnabled()">
                    <div class="oauth-login-title">Or sign in with:</div>
                    <div class="oauth-login-links-container">
                        <a ng-repeat="provider in Login.oauth.providers" ng-mousedown="Login.onGotoOAuth()" ng-href="{{provider.url}}" class="icon-oauth-{{provider.type.toLowerCase()}}" jf-clear-errors>
                            <span jf-tooltip="Login to {{provider.name}}">{{provider.name}}</span>
                        </a>
                    </div>
                </div>
                <div class="form-group-cell" ng-if="Login.ssoProviderLink">
                    <a href
                       ng-click="Login.ssoLogin()"
                       jf-clear-errors
                       target="_blank"
                       id="sso-login">SSO Login</a>
                </div>
            </div>
        </div>

        <div class="login-button-bar">
            <button type="submit" class="btn btn-primary pull-right" ng-disabled="!Login.loginForm.$valid || Login.pending" id="login">
                Log In
            </button>
        </div>
    </form>
</div>
