<wicket:panel>
    <div class="links-border">
        <div class="link-top"></div>
        <div class="link-bottom"></div>
        <div class="link-left"></div>
        <div class="link-right"></div>
        <div class="link-top-left"></div>
        <div class="link-top-right"></div>
        <div class="link-bottom-left"></div>
        <div class="link-bottom-right"></div>

        <ul>
            <li wicket:id="item">
                <a wicket:id="link"></a>
            </li>
        </ul>
    </div>

    <div class="links-pointer"></div>
</wicket:panel>