<wicket:panel>
    <div class="border-wrapper">
        <div class="border-top">
            <div class="border-bottom">
                <div class="border-left">
                    <div class="border-right">
                        <div class="border-top-left">
                            <div class="border-top-right">
                                <div class="border-bottom-left">
                                    <div class="border-bottom-right">
                                        <h2 class="border-title">
                                            <span wicket:id="title"/>
                                            <span wicket:id="tool"/>
                                        </h2>

                                        <div class="border-content">
                                            <wicket:child/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="buttons">
        <button wicket:id="myButton"/>
    </div>
</wicket:panel>